.container
  .row
    %h1.text-center
      Item tracking

    = link_to "New Item", new_item_path, class: "btn btn-primary"

    %table.table-striped.table.table-bordered
      %thead
        %tr
          %th ID
          %th Sold?
          %th Name
          %th Price
          %th Buyers Email
          %th Edit

      %tbody
        - @items.each do |item|
          %tr
            %td= item.id
            %td
              - if item.sold
                = link_to "Mark Unsold", unsold_item_path(item), class: "btn btn-warning"
              - else
                = link_to "Mark Sold!", sold_item_path(item), class: "btn btn-success"
            %td= item.name
            %td= item.price
            %td= item.buyer_email
            %td
              = link_to("Edit", edit_item_path(item), class: "btn btn-default")
